@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Olá, " + User.Identity.GetUserName().Split('.')[0] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Register", "Account")" id="registerLink">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Registre-se
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account")" id = "loginLink">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Log in
            </a>
        </li>
    </ul>
}
