@{
    ViewBag.Title = "Contato";
}

<h2>@ViewBag.Title</h2>
<img src="~/Content/img/suporte-icon.png"  />
<br />
<br />
<address>
    Para quaisquer problemas encontrados no sistema<br />
    favor entrar em contato com os seguintes emails:<br />
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:suporte@contacerta.com">suporte@contacerta.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@contacerta.com">marketing@contacerta.com</a>
</address>

